<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>ToDoList</title>

<link href="../static/lib/bootstrap/css/bootstrap.css" rel="stylesheet"
  media="screen">
<link href="../static/lib/bootstrap/css/bootstrap.min.css"
  rel="stylesheet" media="screen">
<link href="../static/lib/bootstrap/css/bootstrap-reponsive.css"
  rel="stylesheet" media="screen">
<link href="../static/lib/bootstrap/css/bootstrap-reponsive.min.css"
  rel="stylesheet" media="screen">
<link href="../static/css/docs.css" rel="stylesheet" media="screen">



</head>

<body>
  

  <div class="container">
    <div class="row show-grid">
      <div class="span2 text-header1">
        <h5>Do-it.com</h5>
      </div>
      <div class="span2 offset8 text-header2">
        <h5>Start a new project</h5>
      </div>
    </div>
  </div>



  <div class="text-mainheading">
    <h2>Do-It Project</h2>
  </div>



  <div class="container">
    <div class="row body-row">
    
      <div class="span3 employee-list ">
        <div class = "border">
        <div class="subdivisional-employeelist">
          <h3>Anurag</h3>

          <ol>
            <li>
              <div class="task">
                <span class=" task-handle"></span> <span
                  class=" task-descripation">Play Piano</span>
              </div>
            </li>
            <li>
              <div class="task">
                <span class=" task-handle"></span> <span
                  class=" task-descripation">Listen Songs</span>
              </div>
            </li>

            <li>
              <div class="create-newtask">
                <span class="task-handle"> </span> <input
                  type="text">
              </div>
            </li>



          </ol>

        </div>
        </div>
      </div>


      <div class="span3 employee-list ">
        <div class = "border">
        <div class="subdivisional-employeelist">
          <h3>Sourabh</h3>

          <ol>
            <li>
              <div class="task">
                <span class=" task-handle"></span> <span
                  class=" task-descripation">Get a Mustang</span>
              </div>
            </li>
            <li>
              <div class="task">
                <span class=" task-handle"></span> <span
                  class=" task-descripation">Go for Gym</span>
              </div>
            </li>
            <li>
              <div class="create-newtask">
                <span class="task-handle"> </span> <input
                  type="text">
              </div>
            </li>

          </ol>
        </div>
      </div>
      </div>

      <div class="span3 employee-list">
        <div class = "border"> 
        <div class="subdivisional-employeelist">
          <h3>Shishu pal</h3>

          <ol>
            <li>
              <div class="task">
                <span class=" task-handle"></span> <span
                  class=" task-descripation">Go for Study</span>
              </div>
            </li>
            <li>
              <div class="task">
                <span class=" task-handle"></span> <span
                  class=" task-descripation">Go for Movie</span>
              </div>
            </li>
            <li>
              <div class="create-newtask">
                <span class="task-handle"> </span> <input
                  type="text">
              </div>
            </li>

          </ol>

        </div>
        </div>
      </div>

      <div class="span3 employee-list">
        <div class = "border">
        <div class="subdivisional-employeelist">

          <div class="create-newtask">
            <span>
                  <input type="text">
                  <button id="add-new" type = "button">+Add</button>
            
            </span>
            
            
          </div>
          <h4>Add New Collaborator</h4>
        </div>
      </div>
      </div>
    </div>

</div>

    <div class="container">
      
      <div class="row footer-row">
        <div class="span3 employee-list">
          <div class = "border">
          <div class="subdivisional-employeelist">
            <h3>Back Log</h3>

            <ol>
              <li>
                <div class="task">
                  <span class=" task-handle"></span> <span
                    class=" task-descripation">Get a Mustang</span>
                </div>
              </li>
              <li>
                <div class="task">
                  <span class=" task-handle"></span> <span
                    class=" task-descripation">Go for Gym</span>
                </div>
              </li>


            </ol>
          </div>
          </div>
        </div>


        <div class="span3 employee-list">
          <div class = "border">
          <div class="subdivisional-employeelist">
            <h3>Done Items</h3>

            <ol>
              <li>
                <div class="task">
                  <span class=" task-handle"></span> <span
                    class=" task-descripation">Get a Mustang</span>
                </div>
              </li>
              <li>
                <div class="task">
                  <span class=" task-handle"></span> <span
                    class=" task-descripation">Go for Gym</span>
                </div>
              </li>


            </ol>

          </div>
          </div>
        </div>
        
      </div>
      
    </div>

  <script src="../static/js/jquery-1.8.3.min.js"></script>
  <script src="../static/js/index.js"></script>

</body>


</html>