<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>ToDoList</title>

<link href="../static/lib/bootstrap/css/bootstrap.css" rel="stylesheet"
  media="screen">
<link href="../static/lib/bootstrap/css/bootstrap.min.css"
  rel="stylesheet" media="screen">
<link href="../static/lib/bootstrap/css/bootstrap-reponsive.css"
  rel="stylesheet" media="screen">
<link href="../static/lib/bootstrap/css/bootstrap-reponsive.min.css"
  rel="stylesheet" media="screen">
<link href="../static/css/docs.css" rel="stylesheet" media="screen">


</head>

<body>
  <div class="row-fluid show-grid">

    <div class="span6 text-header1">
      <h5>Do-it.com</h5>
    </div>
    <div class="span6 text-header2">
      <h5>Start a new project</h5>
    </div>

  </div>
<body>

  <div class="row-fluid show-grid">
    <div class="span15 text-mainheading">
      <h2>Do-It Project</h2>
    </div>
  </div>


  <div class="row-fluid container-class">

    <div class="span3 employee-list">
      <h3>Anurag</h3>

      <ol>
        <li>
          <div class="task">
            <span class=" task-handle"></span> <span
              class=" task-descripation">Play Piano</span>
          </div>
        </li>
        <li>
          <div class="task">
            <span class=" task-handle"></span> <span
              class=" task-descripation">Listen Songs</span>
          </div>
        </li>

        <li>
          <div class="create-newtask">
            <span class="task-handle"> </span> <input type="text">
          </div>
        </li>



      </ol>


    </div>


    <div class="span3 employee-list">
      <h3>Sourabh</h3>

      <ol>
        <li>
          <div class="task">
            <span class=" task-handle"></span> <span
              class=" task-descripation">Get a Mustang</span>
          </div>
        </li>
        <li>
          <div class="task">
            <span class=" task-handle"></span> <span
              class=" task-descripation">Go for Gym</span>
          </div>
        </li>
        <li>
          <div class="create-newtask">
            <span class="task-handle"> </span> <input type="text">
          </div>
        </li>

      </ol>


    </div>

    <div class="span3 employee-list">
      <h3>Shishu pal</h3>

      <ol>
        <li>
          <div class="task">
            <span class=" task-handle"></span> <span
              class=" task-descripation">Go for Study</span>
          </div>
        </li>
        <li>
          <div class="task">
            <span class=" task-handle"></span> <span
              class=" task-descripation">Go for Movie</span>
          </div>
        </li>
        <li>
          <div class="create-newtask">
            <span class="task-handle"> </span> <input type="text">
          </div>
        </li>

      </ol>


    </div>

    <div class="span3 employee-list">
      <h3>Shishu pal</h3>

      <div class="create-newtask">
        <input type="text">
      </div>
    </div>
  </div>
  <div class="row-fluid show-grid">
    <div class="span15 text-mainheading">
      <h2>Do-It Project</h2>
    </div>
    <div class="span15 text-mainheading">
      <h2>Do-It Project</h2>
    </div>
  </div>
    

</body>


</html>